[submodule "emacs-color-theme-solarized"]
	path = emacs-color-theme-solarized
	url = https://github.com/sellout/emacs-color-theme-solarized.git
[submodule "osx-lion-terminal.app-colors-solarized"]
	path = osx-lion-terminal.app-colors-solarized
	url = https://github.com/tomislav/osx-lion-terminal.app-colors-solarized.git
